body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.12rem;
  display: flex;
  flex-direction: column;
  background: #fadbce;
  padding: 0;
  margin: 0; }

.swiper-container, .swiper-wrapper, .swiper-slide {
  width: 100%; }

.content {
  flex: 1;
  padding-top: 0.06rem; }
  .content .swiper-slide {
    overflow-y: scroll; }
    .content .swiper-slide .top {
      position: relative;
      width: 100%; }
      .content .swiper-slide .top > img {
        display: block;
        width: 100%; }
      .content .swiper-slide .top .list {
        position: absolute;
        left: 0;
        top: 63.5%;
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box; }
        .content .swiper-slide .top .list li {
          float: left;
          display: flex;
          flex-direction: column;
          width: 33.333%;
          text-align: center;
          font-size: 0.1rem;
          color: #ffffff;
          line-height: 0.16rem; }
          .content .swiper-slide .top .list li span {
            color: #f0b93c; }
      .content .swiper-slide .top .djs {
        position: absolute;
        left: 0;
        top: 74.5%;
        width: 100%;
        font-size: 0.1rem;
        color: #80c8cf;
        text-align: center; }
      .content .swiper-slide .top .input {
        position: absolute;
        left: 50%;
        top: 88%;
        width: 70%;
        height: 0.26rem;
        margin-left: -35%; }
        .content .swiper-slide .top .input #cat {
          position: absolute;
          width: 100%;
          height: auto;
          background: #ffffff; }
        .content .swiper-slide .top .input input[type="text"] {
          padding: 0 0.36rem 0 0.08rem;
          box-sizing: border-box;
          display: block;
          width: 100%;
          height: 100%;
          background: #ffffff;
          outline: none;
          border: none;
          border-radius: 0.04rem;
          box-shadow: 1px 1px 1px #dae9eb inset;
          color: #96d3da; }
          .content .swiper-slide .top .input input[type="text"]::-webkit-input-placeholder {
            color: #96d3da; }
        .content .swiper-slide .top .input img {
          position: absolute;
          width: 0.18rem;
          height: 0.18rem;
          right: 0.1rem;
          top: 0.04rem; }
  .content nav ul {
    margin: 0.11rem auto;
    height: 0.36rem;
    width: 90%; }
    .content nav ul li {
      width: 28%;
      float: left;
      height: 0.36rem;
      border-radius: 0.18rem;
      background: #88ced5;
      text-align: center;
      line-height: 0.36rem;
      margin: 0 2.5%; }
      .content nav ul li a {
        color: #ffffff; }
      .content nav ul li:hover, .content nav ul li.cur {
        background: #358994; }
  .content .imgs {
    width: 100%;
    padding: 0 0.08rem;
    box-sizing: border-box; }
    .content .imgs ul {
      width: 50%;
      float: left;
      box-sizing: border-box; }
      .content .imgs ul:nth-child(1) {
        padding-right: 0.04rem; }
      .content .imgs ul:nth-child(2) {
        padding-left: 0.04rem; }
      .content .imgs ul li {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 0.42rem; }
        .content .imgs ul li img {
          display: block;
          width: 100%; }
        .content .imgs ul li span {
          position: absolute;
          left: 0;
          top: 0;
          padding: 0.06rem 0.08rem;
          background: #e79c81;
          color: #ffffff; }
        .content .imgs ul li p {
          position: absolute;
          left: 0;
          bottom: -0.36rem;
          width: 100%;
          height: 0.36rem;
          color: #ffffff; }
          .content .imgs ul li p b {
            font-weight: 200;
            height: 100%; }
          .content .imgs ul li p b:nth-child(1) {
            float: left;
            width: 65%;
            background: #e79c81;
            display: flex;
            flex-direction: column;
            padding-left: 0.06rem;
            box-sizing: border-box; }
            .content .imgs ul li p b:nth-child(1) em {
              font-style: normal;
              font-size: 0.1rem; }
              .content .imgs ul li p b:nth-child(1) em:nth-child(1) {
                line-height: 0.18rem; }
          .content .imgs ul li p b:nth-child(2) {
            float: left;
            width: 35%;
            background: #e34646;
            line-height: 0.36rem;
            text-align: center; }

.footer {
  height: 0.37rem;
  padding: 0.06rem 0;
  box-sizing: border-box; }
  .footer ul {
    width: 1.8rem;
    height: 100%;
    margin: 0 auto; }
    .footer ul li {
      width: 0.25rem;
      height: 0.25rem;
      border: 1px solid #358994;
      border-radius: 50%;
      box-sizing: border-box;
      font-size: 0.1rem;
      text-align: center;
      line-height: 0.25rem;
      float: left;
      margin-right: 0.06rem; }
      .footer ul li:last-child {
        margin-right: 0; }
        .footer ul li:last-child .fa {
          font-size: 0.18rem; }
      .footer ul li a {
        color: #358994;
        display: block;
        width: 100%;
        height: 100%; }
      .footer ul li:hover, .footer ul li.on {
        background: #358994; }
        .footer ul li:hover a, .footer ul li.on a {
          color: #ffffff; }

/*# sourceMappingURL=style.css.map */
